@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #ddd;
}
main {
    background-color: #eee;
    width: 1000px;
    height: 1775px;
    border: 2px solid black;
    padding: 50px;
    margin: 50px;
    box-shadow: #ddd;

}

/*
newspaper {
    background-color: white;
    box-shadow: #ddd;
}

*/

.mainimg {
    display: block;
    width: 100%;
    margin: auto;
}

.column {
    display: inline-block;
    width: 40%;
    margin: auto;
    padding: 25px;
}

.author {
    color: red;
}

h1 {
    text-align: center;
    font-family: "Abril FatFace";
    font-size: 4em;
}

body {
    font-family: "Source Sans Pro";
}

.articletitle {
    font-family: "Roboto Slab";
}

img {
    display: block;
    padding:20px;
}

p {
    text-align: justify;
    color: #dd3232;
}

.navbar li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #777;

}

ul {
    list-style: none;
    text-align: center;
}

.placeholder {
    width: 250px;
    height: 100px;
    background-color: purple;
    padding: 20px;
    color: white;
    margin: 20px;
}

.column2 {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.bottomofpage {
    padding: 20px;
}

footer {
    width: 1200px;
    text-align: center;
}

a {
    margin: 20px;
}